* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: #000;
}

/* NAVIGATION */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    background-color: #162537;
}

/* Navigation links */
.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: white;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

/* name in the navbar */
.name {
    font-size: 2rem;
    color: white;
}

.name:hover {
    cursor: default;
}

/* Small screen nav */
#small-nav {
    display: none;
}

.small-nav-menu {
    position: relative;
    display: inline-block;
}

.small-nav-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

/* styling of small-nav */
.small-nav-icon span {
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: #162537;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;

}

.small-nav-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.small-nav-icon.open span:nth-child(2) {
    opacity: 0;
}

.small-nav-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.small-nav-icon span:first-child {
    transform: none;
}

.small-nav-icon span:first-child {
    opacity: 1;
}

.small-nav-icon span:first-child {
    transform: none;
}

/* SECTIONS */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-cont {
    display: flex;
}

/* profile section */

#profile-sect {
    display: flex;
    justify-content: center;
    gap: 7rem;
    height: 80vh;
}
.section_pic-cont {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section_text {
    align-self: center;
    text-align: center;
}


.section_text_p1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.section_text_p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;;
}

.title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0.75rem;
}

#socials-cont {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* CV */ 
.btn-cont {
    display: flex;
    justify-content: center;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1 {
    border: rgb(53, 53, 53) 0.1rem solid;
} 

.btn-color-1:hover {
    cursor: pointer;
    background-color: rgb(53, 53, 53);
    color: white;
}

.btn-color-1 {
    background: none;
}

.btn-color-1:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

hr.line {
    border-width: thin;
    margin-left: 15%;
    border-style: solid;
    margin-right: 15%;
}

#about-me-pic {
    display: flex;
    height: 400px;
    width: 400px;
}

.info {
    width: fit-content;
}

.sec-2 {
    display: flex;
    margin: 10%;
    gap: 5rem;
    text-align: center;
    justify-content: center;
}

.about-me {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.square-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.square-item {
    padding: 20px; 
    border: 2px solid #000;
    box-shadow: 2px 5px;
}

.square-item p {
    margin: 0;
    font-size: larger;
    text-align: center;
}